*.py[cod]

# C extensions
*.so

# Packages
*.egg
.idea
*.egg-info
dist
dagobah.egg-info
scripts
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml



# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Virtualenv
venv

run.py

# Vim packages
*.ropeproject
